.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  border-bottom: 1px solid var(--badges);
  padding: 24px 64px;
  width: 1440px;
  height: 72px;

  background: var(--inputs);
}

.header_nav {
  margin: 0 auto;
}
